@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
#app nav{
    background: #0097e6 !important;
}
nav .user-name{
    text-transform: uppercase;
    color: #fff !important;
}
.content #sidebare{
    flex: 1;
    background: #0097e6;
    height: calc(100vh - 87px);
}
#sidebare .nav-link{
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    padding-left: 20px;
}
#sidebare .nav-link:focus{
    background: #0384ca;
}
.content main {
    max-width: 1200px;
    flex: 4;
    margin: 0 auto;
    padding: 2rem;
    height: calc(100vh - 87px);
    background: #b6e5ff;
}
.content main .search-box{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #f0f0f0;
    padding: 5px 15px;
    border-radius: 15px;
    margin-bottom: 20px;
}
.search-box .btn{
    background: #005c73;
    color: #fff;
}
.search-box .btn:hover{
    background: #053d4a;
    color: #fff;
}


